<h1>Editing artifact_note</h1>

<% form_for(@artifact_note) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ts %><br />
    <%= f.datetime_select :ts %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @artifact_note %> |
<%= link_to 'Back', artifact_notes_path %>